<div class="row">
  <aside>
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section class="micropost_form col md4">
      <%= render 'shared/micropost_form' %>
    </section>
  </aside>
  <div class="col md8">
    <h3>Micropost Feed</h3>
    <%= render 'shared/feed' %>
  </div>
</div>
