<div class="center jumbotron">
  <h1>Welcome to Macro-Poster!</h1>

  <h2>This is the home page for this app</h2>

  <%= link_to "Sign up now!", signup_path, class: "waves-effect waves-light btn-large #0d47a1 blue darken-4" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
