<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>
<h1>Sign up</h1>

<div id="form" class="row">
  <div class="col m6 offset-m3 input-form">
      <%= render 'form' %>
    <p id="log-in-here">Already have an account? <%= link_to "Log in here!", login_path %></p>
  </div>
</div>
